.node {
  width: 25px;
  height: 25px;
  outline: 1px solid rgb(175, 216, 248);
  display: inline-block;
  margin: 0;
  padding: 0;
}

@media only screen and (max-width: 1450px) {
  .node {
    width: 20px;
    height: 20px;
    outline: 1px solid rgb(175, 216, 248);
    display: inline-block;
    margin: 0;
    padding: 0;
  }
}

@media only screen and (max-width: 1080px) {
  .node {
    width: 18px;
    height: 18px;
    outline: 1px solid rgb(175, 216, 248);
    display: inline-block;
    margin: 0;
    padding: 0;
  }
}

.node-finish {
  /* border: 1px solid rgb(175, 216, 248); */
  background-image: url('../../styling/circle.svg');
  /* background-color: rgb(255, 254, 106); */
  /* background-color: rgba(232, 147, 12, 0.75); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  animation-name: specialNodes;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

.node-start {
  background-image: url('../../styling/triangletwo-right.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  animation-name: specialNodes;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

.node-visited {
  animation-name: visitedAnimation;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes visitedAnimation {
  0% {
    transform: scale(0.3);
    background-color: rgba(3, 3, 56, 0.911);
    border-radius: 100%;
  }

  50% {
    background-color: rgba(66, 228, 80, 0.692);
  }

  75% {
    transform: scale(1.2);
    background-color: rgba(18, 54, 173, 0.75);
  }

  100% {
    transform: scale(1);
    background-color: rgba(235, 78, 78, 0.75);
  }
}

.node-wall {
  background-color: black;
}

.node-2x-wall {
  background-image: url('../../styling/weight.svg');
  background-size: contain;
}

.node-shortest-path {
  animation-name: shortestPath;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

.right {
  background-image: url('../../styling//triangletwo-right.svg');
  background-size: contain;
}

.left {
  background-image: url('../../styling//triangletwo-left.svg');
  background-size: contain;
}

.down {
  background-image: url('../../styling//triangletwo-down.svg');
  background-size: contain;
}

.up {
  background-image: url('../../styling//triangletwo-up.svg');
  background-size: contain;
}

@keyframes shortestPath {
  0% {
    transform: scale(0.6);
    background-color: rgb(255, 254, 106);
  }

  50% {
    transform: scale(1.2);
    background-color: rgb(255, 254, 106);
  }

  100% {
    transform: scale(1);
    background-color: rgb(255, 254, 106);
  }
}
