@media only screen and (max-width: 1000px) {
  .grid {
    position: absolute;
    margin: auto;
    top: 100px;
    right: 0;
    bottom: 0;
    left: 0;
    width: 1000px;
    height: 550px;
  }
  .row {
    height: 20px;
  }
}

@media only screen and (max-width: 2000px) {
  .grid {
    position: absolute;
    margin: auto;
    top: 100px;
    right: 0;
    bottom: 0;
    left: 0;
    width: 1250px;
    height: 550px;
  }
  .row {
    height: 25px;
  }
}

.visualizeBtn {
  border: none;
  font-size: 15px;
  font-weight: normal;
  line-height: 1.4;
  border-radius: 4px;
  padding: 10px 15px;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-transition: border 0.25s linear, color 0.25s linear,
    background-color 0.25s linear;
  transition: border 0.25s linear, color 0.25s linear,
    background-color 0.25s linear;
}
